<!--mz-card
  [horizontal]="true"
  [hoverable]="true">
  <mz-card-title>
    <h3>Produtos</h3>
  </mz-card-title>
  <mz-card-content-->
      <h3>Produtos</h3>
      <!--button mz-button mz-halfway-fab  mz-tooltip class="cyan darken-4 pulse" 
      (click)="bottomSheetModal.openModal()"
        [float]="true" 
        [large]="false"
        [tooltip]="'Cadastrar novo produto'"
      >
          <i mz-icon [icon]="'add'" [align]="left"></i>
      </button-->

      <a mz-button mz-halfway-fab  mz-tooltip class="cyan darken-4 pulse" 
        routerLink="/produto/novo"
        [float]="true" 
        [large]="false"
        [tooltip]="'Cadastrar novo produto'"
      >
          <i mz-icon [icon]="'add'" [align]="left"></i>
      </a>

      <table class="responsive-table striped bordered">
          <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Dt inclusão</th>
                <th>Ações</th>
            </tr>
          </thead>
        
          <tbody>
            <tr *ngFor="let produto of produtos" #idDropdown>
              <td>{{ produto.produto_id }}</td>
              <td>{{ produto.nome }}</td>
              <td>{{ produto.preco }}</td>
              <td>{{ produto.descricao }}</td>
              <td>{{ produto.data_inc }}</td>
              <td>
                  <a mz-button mz-tooltip mz-halfway-fab class="red"
                    routerLink="/produto/{{ produto.produto_id }}"
                    [tooltip]="'Deletar'"
                    [float]="true">
                    <i mz-icon 
                      [align]="'centered'" 
                      [icon]="'delete'"></i>
                  </a>
                  &nbsp;
                  <a mz-button mz-tooltip mz-halfway-fab class="cyan darken-4"
                    routerLink="/produto/{{ produto.produto_id }}/editar"
                    [tooltip]="'Editar'"
                    [float]="true">
                    <i mz-icon 
                      [align]="'centered'" 
                      [icon]="'mode_edit'"></i> 
                </a>

              </td>
            </tr>
          </tbody>
        </table>
  <!--/mz-card-content>
</mz-card-->

<mz-modal #bottomSheetModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    <h4>Cadastrar novo produto</h4>
  </mz-modal-header>
  <mz-modal-content>
    <router-outlet></router-outlet>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button mz-halfway-fab mz-modal-close class="red">
      <i mz-icon [align]="'left'" [icon]="'close'" [size]="'medium'"></i>
      Cancelar 
    </button>
    &nbsp;
    <button mz-button mz-halfway-fab mz-modal-close class="cyan darken-4">
      <i mz-icon [align]="'right'" [icon]="'send'" [size]="'medium'"></i>
      Salvar 
    </button>
    <!--button mz-button [flat]="true" mz-modal-close>Agree</button-->
  </mz-modal-footer>
</mz-modal>