<mz-card
  [horizontal]="true"
  [hoverable]="true">
  <mz-card-title>
    <h3>Produtos</h3>
  </mz-card-title>
  <mz-card-content>
      <button mz-button mz-halfway-fab [float]="true" [large]="true" class="cyan darken-4 pulse" (click)="bottomSheetModal.openModal()">
          <i mz-icon [icon]="'add'" [align]="left"></i>
      </button>

      <table class="responsive-table striped bordered">
          <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Dt inclusão</th>
                <th>Ações</th>
            </tr>
          </thead>
        
          <tbody>
            <tr *ngFor="let produto of produtos">
              <td>{{ produto.produto_id }}</td>
              <td>{{ produto.nome }}</td>
              <td>{{ produto.preco }}</td>
              <td>{{ produto.descricao }}</td>
              <td>{{ produto.data_inc }}</td>
              <td>
                <mz-dropdown
                  [id]="'dropdown-demo'"
                  [align]="'left'"
                  [belowOrigin]="false"
                  [constrainWidth]="true"
                  [dropdownButtonId]="'btn-dropdown-demo'"
                  [gutter]="true"
                  [hover]="true"
                  [inDuration]="300"
                  [outDuration]="300"
                  [stopPropagation]="true">
                  <mz-dropdown-item><a routerLink="/produtos/{{ produto.produto_id }}/editar">Editar</a></mz-dropdown-item>
                  <mz-dropdown-divider></mz-dropdown-divider>
                  <mz-dropdown-item><a routerLink="/produtos/{{ produto.produto_id }}">Deletar</a></mz-dropdown-item>
                </mz-dropdown>

                <a mz-button mz-halfway-fab [float]="true" id="btn-dropdown-demo" class="cyan darken-4">
                  <i mz-icon
                    [align]="'right'"
                    [icon]="'arrow_drop_down'"
                    [size]="'medium'">
                  </i>
                </a>

              </td>
            </tr>
          </tbody>
        </table>
  </mz-card-content>
</mz-card>

<mz-modal #bottomSheetModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    <h4>Cadastrar novo produto</h4>
  </mz-modal-header>
  <mz-modal-content>
    <router-outlet></router-outlet>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button mz-halfway-fab mz-modal-close class="red">
      <i mz-icon [align]="'left'" [icon]="'close'" [size]="'medium'"></i>
      Cancelar 
    </button>
    &nbsp;
    <button mz-button mz-halfway-fab mz-modal-close class="cyan darken-4">
      <i mz-icon [align]="'right'" [icon]="'send'" [size]="'medium'"></i>
      Salvar 
    </button>
    <!--button mz-button [flat]="true" mz-modal-close>Agree</button-->
  </mz-modal-footer>
</mz-modal>