<p>
  Produtos
</p>

<table>
  <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Descrição</th>
        <th>Data Inc</th>
        <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{produto.produto_id}}</td>
      <td>{{produto.nome}}</td>
      <td>{{produto.preco}}</td>
      <td>{{produto.descricao}}</td>
      <td>{{produto.data_inc}}</td>
      <a class="waves-effect waves-light btn red">
        <i class="material-icons">delete</i>
      </a>
      &nbsp;
      <a class="waves-effect waves-light btn blue" [routerLink]="[produto.produto_id]">
        <i class="material-icons">mode_edit</i>
      </a>
    </tr>
  </tbody>
</table>